@import url('https://fonts.googleapis.com/css?family=Play:700&display=swap');

header {
  height: 300px;
  width: 80%;
  background-image: url(pic/def_logo_svg.svg);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 10px;
  background-position-y: 0px;
}

.btn {
  margin: 10px;
  padding: 5px;
}

body {
  margin: 0em;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition-duration: 0.5s;
}

article {
  color: #dddddd;
  font-family: 'Play', sans-serif;
  padding: 30px;
  background-color: #222222;
}


p {
  font-size: 30px;
  font-weight: 600;
}

nav > ul {
  list-style: none;
  display: flex;
}

.grad {
  height: 50px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(34,34,34,1) 100%);
}

.grad_reverse {
  height: 50px;
  width: 100%;
  background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(34,34,34,1) 100%);
}


.pic {
  border-style: solid;
  border-width: 2px;
  border-color: #5d8666;
  height: 400px;
  width: 40%;
  margin-left: 10px;
  margin-top: 50px;
  justify-content: center;
}

img {
  height: 400px;
  width: 100%;  
}

.flex {
    display: flex;
  justify-content: center;
   flex-wrap: wrap;
}
footer {
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 30px;
}

h1, ul {
  font-family: 'Play', sans-serif;
  font-size: 30px;
  font-weight: 600;
}
ul {
  list-style: none;
}

li {
  margin-top: 10px;
}

.map {
  margin: 0 20px 0 10px;
}

a:hover {
  color:#5d8666;
}

nav {
  margin: auto;
  margin-top: 10px;
}
